
<section class="section contact-page">
	<div class="container"> 
		<div class="row"> 
			<div class="col-12 col-lg-12 col-xl-4 info-container">
				<ul class="info-box"> 
					<li class="item-info">
						<div class="title-info"> <img class="icon" src="./images/contact/Icon/map_pin.png"/><span>Chi nhánh/Phòng Giao dịch HDBank:</span></div>
						<ul class="description-box"> 
							<li class="item-description"><a class="linkToBranchPage" href="">Xem tại đây</a></li>
						</ul>
					</li>
					<li class="item-info">
						<div class="title-info"> <img class="icon" src="./images/contact/Icon/Time_Circle.png"/><span>Thời gian phục vụ khách hàng</span></div>
						<ul class="description-box"> 
							<li class="item-description">
								<p>Buổi sáng: 7h30 - 11h30</p>
							</li>
							<li class="item-description">
								<p>Buổi chiều: 13h - 17h</p>
							</li>
							<li class="item-description">
								<p>Từ thứ 2 đến thứ 6 hàng tuần</p>
							</li>
						</ul>
					</li>
					<li class="item-info">
						<div class="title-info"> <img class="icon" src="./images/contact/Icon/Calling.png"/><span>Tổng đài CSKH 1900 6060 (24/7)</span></div>
						<ul class="description-box"> 
							<li class="item-description">
								<p>Liên hệ từ nước ngoài (+84)028 3936 5555</p>
							</li>
						</ul>
					</li>
					<li class="item-info">
						<div class="title-info"> <img class="icon" src="./images/contact/Icon/ic_email.png"/><span>Email: <span class="txtemail">info@hdbank.com.vn</span></span></div>
					</li>
				</ul>
				<div class="mini-faq">
					<div class="title-mobile">
						<h2 class="title title_small title_small-white">Câu hỏi thường gặp</h2><em class="material-icons">keyboard_arrow_down</em>
					</div>
					<div class="left-block">
						<h2 class="title title_small title_small-white">Câu hỏi thường gặp</h2>
						<div class="side-navigation-wrap">
							<ul class="side-navigation">
								<li class="active">
									<div class="accordion-title"><em class="ri-question-fill"></em>
										<p>Tôi có thể truy cập tài khoản của mình khi đi nước ngoài không?</p><em class="ri-arrow-down-s-line"></em>
									</div>
									<div class="nav-sub">
										<p>Với một thiết bị (máy vi tính để bàn, máy vi tính xách tay, máy vi tính bảng, điện thoại) kết nối mạng Internet, quý khách có thể kết nối với Ngân hàng trực tuyến HDBank và truy cập vào tài khoản của quý khách.</p>
									</div>
								</li>
								<li>
									<div class="accordion-title"><em class="ri-question-fill"></em>
										<p>Làm thế nào để khôi phục mật khẩu?</p><em class="ri-arrow-down-s-line"></em>
									</div>
									<div class="nav-sub">
										<p>Với một thiết bị (máy vi tính để bàn, máy vi tính xách tay, máy vi tính bảng, điện thoại) kết nối mạng Internet, quý khách có thể kết nối với Ngân hàng trực tuyến HDBank và truy cập vào tài khoản của quý khách.</p>
									</div>
								</li>
								<li>
									<div class="accordion-title"><em class="ri-question-fill"></em>
										<p>Làm thế nào để khôi phục tên đăng nhập?</p><em class="ri-arrow-down-s-line"></em>
									</div>
									<div class="nav-sub">
										<p>Với một thiết bị (máy vi tính để bàn, máy vi tính xách tay, máy vi tính bảng, điện thoại) kết nối mạng Internet, quý khách có thể kết nối với Ngân hàng trực tuyến HDBank và truy cập vào tài khoản của quý khách.</p>
									</div>
								</li>
								<li>
									<div class="accordion-title"><em class="ri-question-fill"></em>
										<p>Kết nối mạng của tôi bị lỗi</p><em class="ri-arrow-down-s-line"></em>
									</div>
									<div class="nav-sub">
										<p>Với một thiết bị (máy vi tính để bàn, máy vi tính xách tay, máy vi tính bảng, điện thoại) kết nối mạng Internet, quý khách có thể kết nối với Ngân hàng trực tuyến HDBank và truy cập vào tài khoản của quý khách.</p>
									</div>
								</li>
							</ul><a class="btn-viewmore" href=""> <span>Xem tất cả câu hỏi </span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-12 col-xl-8"> 
				<div class="form-box">
					<div class="tabs">
						<ul class="tab-list-component tab-list d-flex">
							<li class="active" rel="panel-1">Title panel 1</li>
							<li rel="panel-2">Title panel 2</li>
						</ul>
						<div class="panel active" id="panel-1">
							<div class="description-box">
								<p>Nếu Quý Khách có yêu cầu, góp ý, khen ngợi hoặc ý kiến phản hồi xin vui lòng gửi email trực tiếp về cho chúng tôi.</p>
								<p>Cảm ơn Quý khách đã gửi email đến HDBank!</p>
							</div>
							<div class="content-form">
								<form class="group-input" action="">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Họ và tên"/><img class="icon" src="./images/contact/Input/Profile.png"/>
									</div>
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Số điện thoại"/><img class="icon" src="./images/contact/Input/Call.png"/>
									</div>
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Mã nhân viên tư vấn nếu có"/><img class="icon" src="./images/contact/Input/Support.png"/>
									</div>
									<div class="form-group"> 
										<select class="form-control" name=""> 
											<option value="">Tỉnh/Thành phố</option>
										</select>
									</div>
									<div class="form-group"> 
										<select class="form-control" name=""> 
											<option value="">Quận/Huyện</option>
										</select>
									</div>
									<div class="form-group"> 
										<textarea class="form-control" name="" rows="5" placeholder="Ghi chú"></textarea><img class="icon" src="./images/contact/Input/Edit_Square.png"/>
									</div>
								</form>
								<button class="btn btn-submit btn-send-email" type="submit"><span>Gửi email</span></button>
							</div>
						</div>
						<div class="panel" id="panel-2">
							<div class="description-box">
								<p>Xin vui lòng đặt lịch hẹn nếu quý khách dự kiến đến đơn vị giao dịch của chúng tôi</p>
							</div>
							<div class="content-form">
								<form class="group-input" action="">
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Họ và tên"/><img class="icon" src="./images/contact/Input/Profile.png"/>
									</div>
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Số điện thoại"/><img class="icon" src="./images/contact/Input/Call.png"/>
									</div>
									<div class="form-group">
										<input class="form-control" type="text" placeholder="CMND/Hộ chiếu"/><img class="icon" src="./images/contact/Input/Scan.png"/>
									</div>
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Mã nhân viên tư vấn nếu có"/><img class="icon" src="./images/contact/Input/Support.png"/>
									</div>
									<div class="form-group"> 
										<select class="form-control" name=""> 
											<option value="">Tỉnh/Thành phố</option>
										</select>
									</div>
									<div class="form-group"> 
										<select class="form-control" name=""> 
											<option value="">Địa điểm hẹn</option>
										</select>
									</div>
									<div class="form-group">
										<input class="form-control" type="text" placeholder="Ngày hẹn"/><img class="icon" src="./images/contact/Input/calendar.png"/>
									</div>
									<div class="form-group">
										<select class="form-control" name=""> 
											<option value="">Giờ</option>
											<option value="">00:00</option>
											<option value="">01:00</option>
											<option value="">02:00</option>
											<option value="">03:00</option>
											<option value="">04:00</option>
										</select>
									</div>
									<div class="form-group"> 
										<textarea class="form-control" name="" rows="5" placeholder="Ghi chú"></textarea><img class="icon" src="./images/contact/Input/Edit_Square.png"/>
									</div>
								</form>
								<button class="btn btn-submit btn-appoinment" type="submit"><span>Gửi lịch hẹn</span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>