
<div class="product-catelory_list">
	<h2 class="title title_small title_small-white">Danh mục sản phẩm</h2>
	<div class="navigation">
		<ul class="navigation-list">
			<li class="navigation-list_item active">
				<div class="navigation-list_item__title">
					<div class="img"> <img class="desktop" src="./images/producttion/main-product-0.png" alt=""/><img class="mobile" src="./images/producttion/main-pro-mb-0.png" alt=""/></div>
					<div class="contnet"><a href="">Vay kinh doanh</a><em class="lnr lnr-chevron-down"></em></div>
				</div>
				<ul class="navigation-sub show"> 
					<li><a href=""> 
							<p>Vay phát triển kinh tế gia đình</p><em class="lnr lnr-chevron-right"></em></a></li>
					<li><a href=""> 
							<p>Vay bổ sung vốn lưu động</p><em class="lnr lnr-chevron-right"></em></a></li>
				</ul>
			</li>
			<li class="navigation-list_item">
				<div class="navigation-list_item__title">
					<div class="img"> <img class="desktop" src="./images/producttion/main-product-1.png" alt=""/><img class="mobile" src="./images/producttion/main-pro-mb-1.png" alt=""/></div>
					<div class="contnet"><a href="">Vay tiêu dùng</a><em class="lnr lnr-chevron-down"></em></div>
				</div>
				<ul class="navigation-sub"> 
					<li><a href=""> 
							<p>Vay phát triển kinh tế gia đình</p><em class="lnr lnr-chevron-right"></em></a></li>
					<li><a href=""> 
							<p>Vay bổ sung vốn lưu động</p><em class="lnr lnr-chevron-right"></em></a></li>
				</ul>
			</li>
			<li class="navigation-list_item">
				<div class="navigation-list_item__title">
					<div class="img"> <img class="desktop" src="./images/producttion/main-product-2.png" alt=""/><img class="mobile" src="./images/producttion/main-pro-mb-2.png" alt=""/></div>
					<div class="contnet"><a href="">Vay bằng sổ TK</a><em class="lnr lnr-chevron-down"></em></div>
				</div>
			</li>
			<li class="navigation-list_item">
				<div class="navigation-list_item__title">
					<div class="img"> <img class="desktop" src="./images/producttion/main-product-3.png" alt=""/><img class="mobile" src="./images/producttion/main-pro-mb-3.png" alt=""/></div>
					<div class="contnet"><a href="">Dịch vụ khác</a><em class="lnr lnr-chevron-down"></em></div>
				</div>
			</li>
			<li class="navigation-list_item">
				<div class="navigation-list_item__title">
					<div class="img"> <img class="desktop" src="./images/producttion/main-product-4.png" alt=""/><img class="mobile" src="./images/producttion/main-pro-mb-4.png" alt=""/></div>
					<div class="contnet"><a href="">Vay nông nghiệp</a><em class="lnr lnr-chevron-down"></em></div>
				</div>
			</li>
			<li class="navigation-list_item">
				<div class="navigation-list_item__title">
					<div class="img"> <img class="desktop" src="./images/producttion/main-product-5.png" alt=""/><img class="mobile" src="./images/producttion/main-pro-mb-5.png" alt=""/></div>
					<div class="contnet"><a href="">Vay ô tô</a><em class="lnr lnr-chevron-down"></em></div>
				</div>
			</li>
			<li class="navigation-list_item">
				<div class="navigation-list_item__title">
					<div class="img"> <img class="desktop" src="./images/producttion/main-product-6.png" alt=""/><img class="mobile" src="./images/producttion/main-pro-mb-6.png" alt=""/></div>
					<div class="contnet"><a href="">Vay bất động sản</a><em class="lnr lnr-chevron-down"></em></div>
				</div>
			</li>
		</ul>
	</div>
</div>