
<div class="panel active" id="panel-1">
	<div class="description-box">
		<p>Nếu Quý Khách có yêu cầu, góp ý, khen ngợi hoặc ý kiến phản hồi xin vui lòng gửi email trực tiếp về cho chúng tôi.</p>
		<p>Cảm ơn Quý khách đã gửi email đến HDBank!</p>
	</div>
	<div class="content-form">
		<form class="group-input" action="">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Họ và tên"/><img class="icon" src="./images/contact/Input/Profile.png"/>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Số điện thoại"/><img class="icon" src="./images/contact/Input/Call.png"/>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Mã nhân viên tư vấn nếu có"/><img class="icon" src="./images/contact/Input/Support.png"/>
			</div>
			<div class="form-group"> 
				<select class="form-control" name=""> 
					<option value="">Tỉnh/Thành phố</option>
				</select>
			</div>
			<div class="form-group"> 
				<select class="form-control" name=""> 
					<option value="">Quận/Huyện</option>
				</select>
			</div>
			<div class="form-group"> 
				<textarea class="form-control" name="" rows="5" placeholder="Ghi chú"></textarea><img class="icon" src="./images/contact/Input/Edit_Square.png"/>
			</div>
		</form>
		<button class="btn btn-submit btn-send-email" type="submit"><span>Gửi email</span></button>
	</div>
</div>