
<section class="section nimish-list"> 
	<div class="filter-catelog"> 
		<h1 class="title title_small title_small-black">Danh mục thẻ</h1>
		<div class="form-group"> 
			<select class="form-control">
				<option value="">Tất cả thẻ</option>
			</select>
		</div>
		<div class="container--tabs">
			<ul class="nav-tabs">
				<li class="active"><a href="#tab-1">
						<p>Cashback-hoàn tiền</p></a></li>
				<li><a href="#tab-2">
						<p>Du lịch</p></a></li>
				<li><a href="#tab-3">
						<p>Trả góp</p></a></li>
				<li><a href="#tab-4">
						<p>Mua sắm</p></a></li>
				<li><a href="#tab-5">
						<p>hashtag</p></a></li>
				<li><a href="#tab-6">
						<p>hashtag</p></a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-panel active" id="tab-1">
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-1.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href="">HDBank Mastercard Debit</a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-2.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href="">HDBank Mastercard Debit</a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-3.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href="">HDBank Mastercard Debit</a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-4.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href="">HDBank Mastercard Debit</a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-5.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href="">HDBank Mastercard Debit</a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-6.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href="">HDBank Mastercard Debit</a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-7.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href="">HDBank Mastercard Debit</a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-8.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href="">HDBank Mastercard Debit</a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-9.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href="">HDBank Mastercard Debit</a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>