
<section class="section nimish-list" setBackground="../images/producttion/bg.png">
	<div class="container">
		<div class="filter-catelog"> 
			<h1 class="title title_small title_small-black">Danh mục thẻ</h1>
			<div class="form-group"> 
				<select class="form-control">
					<option value="">Tất cả thẻ</option>
				</select>
			</div>
			<div class="tag-list tabs">
				<div class="nav-list">
					<ul class="tab-list">
						<li class="active" rel="tab-1">
							<p>Cashback-hoàn tiền</p>
						</li>
						<li rel="tab-2">
							<p>Du lịch</p>
						</li>
						<li rel="tab-3">
							<p>Trả góp</p>
						</li>
						<li rel="tab-4">
							<p>Mua sắm</p>
						</li>
						<li rel="tab-5">
							<p>hashtag</p>
						</li>
						<li rel="tab-6">
							<p>hashtag</p>
						</li>
					</ul>
				</div>
				<div class="panel hashtag-content active" id="tab-1">
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-1.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-2.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-3.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-4.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-5.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-6.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-7.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-8.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-9.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
				</div>
				<div class="panel hashtag-content" id="tab-2">
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-1.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-2.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-3.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-4.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-5.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-6.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-7.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-8.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
					<div class="card-item"> 
						<div class="card-item_img"> <a href=""> <img src="./images/producttion/c-9.png" alt=""/></a></div>
						<div class="card-item_content"> 
							<div class="card-item_content__title"> <a href=""> 
									<p>HDBank Mastercard Debit</p></a></div>
							<div class="card-item_content__desc">
								<ul>
									<li>
										<p>Rút tiền mặt tại hơn 1 triệu máy ATM trên toàn thế giới</p>
									</li>
									<li>
										<p>Thẻ công nghệ Contactless - Không cần chạm: cho phép khách hàng giao dịch mọi lúc mọi nơi, thanh toán tại hàng nghìn điểm POS/mPOS</p>
									</li>
									<li>
										<p>Hưởng lãi không kỳ hạn trên số dư tài khoản của khách hàng.</p>
									</li>
								</ul>
							</div>
							<div class="card-item_content__button"> <a class="viewdetail" href="">Xem chi tiết</a><a class="btn-small" href="">Mở thẻ</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>