
<section class="section info-block">
	<ul class="list-questions"> 
		<li class="item-question">
			<div class="title-question-box"><img src="./images/about/Message.png"/><span class="title-question">Thông điệp từ Hội Đồng Quản Trị</span><span class="btn-arrow"></span></div>
			<div class="content-answer-box"> 
				<p>Với một thiết bị (máy vi tính để bàn, máy vi tính xách tay, máy vi tính bảng, điện thoại) kết nối mạng Internet, quý khách có thể kết nối với Ngân hàng trực tuyến HDBank và truy cập vào tài khoản của quý khách.</p>
			</div>
		</li>
		<li class="item-question">
			<div class="title-question-box"><img src="./images/about/Work.png"/><span class="title-question">Thông tin chung</span><span class="btn-arrow"></span></div>
			<div class="content-answer-box"> 
				<p>Với một thiết bị (máy vi tính để bàn, máy vi tính xách tay, máy vi tính bảng, điện thoại) kết nối mạng Internet, quý khách có thể kết nối với Ngân hàng trực tuyến HDBank và truy cập vào tài khoản của quý khách.</p>
			</div>
		</li>
		<li class="item-question">
			<div class="title-question-box"><img src="./images/about/User.png"/><span class="title-question">Văn hóa doanh nghiệp</span><span class="btn-arrow"></span></div>
			<div class="content-answer-box"> 
				<p>Với một thiết bị (máy vi tính để bàn, máy vi tính xách tay, máy vi tính bảng, điện thoại) kết nối mạng Internet, quý khách có thể kết nối với Ngân hàng trực tuyến HDBank và truy cập vào tài khoản của quý khách.</p>
			</div>
		</li>
		<li class="item-question">
			<div class="title-question-box"><img src="./images/about/Star.png"/><span class="title-question">Phát triển bền vững</span><span class="btn-arrow"></span></div>
			<div class="content-answer-box"> 
				<p>Với một thiết bị (máy vi tính để bàn, máy vi tính xách tay, máy vi tính bảng, điện thoại) kết nối mạng Internet, quý khách có thể kết nối với Ngân hàng trực tuyến HDBank và truy cập vào tài khoản của quý khách.</p>
			</div>
		</li>
	</ul>
</section>