
<div class="mobile-popup"><i class="fas fa-times icon-close"></i><img class="mobile-popup__logo no-js-logo-popup" src="/asset/images/logo-popup.png" alt=""/>
	<noscript></noscript>
	<div class="mobile-popup__content">
		<h5 class="mobile-popup__content__title">HDBank Mobile Banking</h5>
		<div class="mobile-popup__content__detail">
			<div class="mobile-popup__content__detail__text">Giao dịch ngân hàng mọi lúc mọi nơi.<br/>Miễn phí tại CH Play</div>
			<div class="mobile-popup__content__detail__download">Xem</div>
		</div>
	</div>
</div>