
<div class="panel" id="panel-2">
	<div class="description-box">
		<p>Xin vui lòng đặt lịch hẹn nếu quý khách dự kiến đến đơn vị giao dịch của chúng tôi</p>
	</div>
	<div class="content-form">
		<form class="group-input" action="">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Họ và tên"/><img class="icon" src="./images/contact/Input/Profile.png"/>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Số điện thoại"/><img class="icon" src="./images/contact/Input/Call.png"/>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="CMND/Hộ chiếu"/><img class="icon" src="./images/contact/Input/Scan.png"/>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Mã nhân viên tư vấn nếu có"/><img class="icon" src="./images/contact/Input/Support.png"/>
			</div>
			<div class="form-group"> 
				<select class="form-control" name=""> 
					<option value="">Tỉnh/Thành phố</option>
				</select>
			</div>
			<div class="form-group"> 
				<select class="form-control" name=""> 
					<option value="">Địa điểm hẹn</option>
				</select>
			</div>
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Ngày hẹn"/><img class="icon" src="./images/contact/Input/calendar.png"/>
			</div>
			<div class="form-group">
				<select class="form-control" name=""> 
					<option value="">Giờ</option>
					<option value="">00:00</option>
					<option value="">01:00</option>
					<option value="">02:00</option>
					<option value="">03:00</option>
					<option value="">04:00</option>
				</select>
			</div>
			<div class="form-group"> 
				<textarea class="form-control" name="" rows="5" placeholder="Ghi chú"></textarea><img class="icon" src="./images/contact/Input/Edit_Square.png"/>
			</div>
		</form>
		<button class="btn btn-submit btn-appoinment" type="submit"><span>Gửi lịch hẹn</span></button>
	</div>
</div>