
<div class="product-catelory_list">
	<h2 class="title title_small title_small-white">Danh mục sản phẩm</h2>
	<div class="navigation">
		<ul class="navigation-list">
			<li class="navigation-list_item">
				<div class="navigation-list_item__title">
					<div class="img"> <img src="./images/producttion/bh-1.png" alt=""/></div>
					<div class="contnet"><a href="">Bảo hiểm nhânthọ</a><em class="lnr lnr-chevron-down"></em></div>
				</div>
			</li>
			<li class="navigation-list_item">
				<div class="navigation-list_item__title">
					<div class="img"> <img src="./images/producttion/bh-2.png" alt=""/></div>
					<div class="contnet"><a href="">Bảo hiểm nhân thọ FWD</a><em class="lnr lnr-chevron-down"></em></div>
				</div>
			</li>
			<li class="navigation-list_item active">
				<div class="navigation-list_item__title">
					<div class="img"> <img src="./images/producttion/bh-3.png" alt=""/></div>
					<div class="contnet"><a href="">Bảo hiểm phi nhân thọ</a><em class="lnr lnr-chevron-down"></em></div>
				</div>
				<ul class="navigation-sub show"> 
					<li><a href=""> 
							<p>Bảo hiểm nhà tư nhân</p><em class="lnr lnr-chevron-right"></em></a></li>
					<li><a href=""> 
							<p>Bảo hiểm TNDS xe ô tô</p><em class="lnr lnr-chevron-right"></em></a></li>
					<li><a href=""> 
							<p>Bảo hiểm người vay vốn</p><em class="lnr lnr-chevron-right"></em></a></li>
					<li><a href=""> 
							<p>Bảo hiểm mọi rủi ro tài sản</p><em class="lnr lnr-chevron-right"></em></a></li>
					<li><a href=""> 
							<p>Bảo hiểm hỏa hoạn và các rủi ro đặc biệt</p><em class="lnr lnr-chevron-right"></em></a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>